@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --darkmode-background-color: #414141;
    --darkmode-text-color: #c4c4c4;
    font-family: "JetBrains Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    color: var(--darkmode-text-color);
    background: var(--darkmode-background-color);
}

.dark-mode button { /* Why do i have to do this */
    background-color: var(--darkmode-background-color);
    color: var(--darkmode-text-color);
}

button {
    position: absolute;
    top: -20px;
    left: 10px;
    padding: 10px;
    z-index: 1;
}


.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20%;
    height: 100vh;
    justify-content: center;
}

#clock {
    position: absolute;
    display: flex;
    left: 10%;
    text-wrap: nowrap;
    margin: 0;
    font-size: 4px;
    white-space-collapse: preserve-spaces;
}

.time-container {
    display: flex;
    align-items: baseline;
}

.main-content-container *{
    margin: 30px 0;
}

.main-content-container h1 {
    font-size: 20vh;
}

.main-content-container h3 {
    font-size: 5vh;
}

.main-content-container h4 {
    font-size: 3vh;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: fit-content;
    padding: 1.3rem;
    position: absolute;
    top: 10%;
    right: 20%;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    z-index: 2;
}

.dark-mode .modal {
    background-color: var(--darkmode-background-color);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hoverable {
    text-decoration: underline;
}

.hoverable:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

@media screen and (max-width: 700px) {
    .main-content-container {
        justify-content: end;
        align-items: center;
        padding: 0;
    }
    .main-content-container h1 {
        font-size: 8vh;
        margin: 0;
    }
    .main-content-container h3 {
        font-size: 3vh;
        margin: 0;
    }
    .main-content-container h4 {
        font-size: 2vh;
        margin: 0 0 100px;
    }
    #clock {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 3px;
    }
}