@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --darkmode-background-color: #121212;
    --darkmode-text-color: #FFFFFF;
    font-family: "JetBrains Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
}

.dark-mode {
    color: var(--darkmode-text-color);
    background: var(--darkmode-background-color);
}

.dark-mode button { /* Why do i have to do this */
    background-color: var(--darkmode-background-color);
    color: var(--darkmode-text-color);
}

button {
    position: absolute;
    top: -20px;
    left: 10px;
    padding: 10px;
    z-index: 1;
}


body {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20%;
    height: 100vh;
    justify-content: center;
}

#clock {
    position: absolute;
    display: flex;
    left: 10%;
    text-wrap: nowrap;
    margin: 0;
    font-size: 4px;
    white-space-collapse: preserve-spaces;
}

.time-container {
    display: flex;
    align-items: baseline;
}

body *{
    margin: 30px 0;
}

body h1 {
    font-size: 20vh;
}

body h3 {
    font-size: 5vh;
}

body h4 {
    font-size: 3vh;
}

@media screen and (max-width: 700px) {
    body {
        justify-content: end;
        align-items: center;
        padding: 0;
    }
    body h1 {
        font-size: 8vh;
        margin: 0;
    }
    body h3 {
        font-size: 3vh;
        margin: 0;
    }
    body h4 {
        font-size: 2vh;
        margin: 0 0 100px;
    }
    #clock {
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 3px;
    }
}