@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

html {
    background: linear-gradient(to right, #c66f6f76, #b7aeae40);
}

* {
    font-family: "Afacad Flux", sans-serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.website-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    padding: 10px 30px;
}

.website-container span {
    width: 300px;
    display: block;
    font-size: large;
}

.website-container img{
    width: 300px;
}